data/
__pycache__/
output/
.vscode/launch.json

#results from preprocessing
tools/results/ 


# Distribution / packaging
build/
dist/
*.egg-info/

#PENet depth completion model file
tools/PENet/pe.pth.tar

pcdet/ops/

# Temporary log wandb setup for inference
tools/wandb/
tools/workspace/inference/

data/kitti/ImageSets/
data/kitti/ImageSets/val.txt
data/kitti/ImageSets/train.txt
data/kitti/ImageSets/test.txt


# PENet model
results/
tools/zz_testspace/

# Inference logs
tools/inference_logs/

#3D Bounding Box Analysis for Inference works
tools/zz_log_3dbbox_analysis/ 
pcdet/version.py


tools/iw_inference_and_vis_from_gt_boxes_lidar.py
tools/visualization/kitti_vis_standalone.py
start_docker_common.sh
start_docker_user.sh
build_docker_user.sh
tools/workspace/camera_poses.json
tools/workspace/mocked_pred_boxes.csv
tools/workspace/mocked_omnv_sim_pred_boxes_20250411.csv
tools/workspace/ADTC_asset_placement_trolley_baseScript.py
tools/eval_logs/
map_coverage_calculator/camera_poses_50perc_overlap.json
map_coverage_calculator/camera_poses_no_overlap.json
map_coverage_calculator/camera_poses.json
map_coverage_calculator/occupancy_grid_ADTC_stage.png
map_coverage_calculator/occupancy_grid.png
graph_definition/graph_output/
