numpy==1.19.5
protobuf==3.19.4
scikit-image==0.19.2
waymo-open-dataset-tf-2-5-0
nuscenes-devkit==1.0.5
spconv-cu117
numba==0.53.1
scipy
pyyaml
easydict
fire
tqdm
shapely
matplotlib
opencv-python
addict
pyquaternion
awscli
open3d
pandas
future
pybind11
tensorboardX==2.4
tensorboard
Cython
prefetch-generator